<div class="quizz__container">
  <div class="quizz_logo">
    <img src="assets/imgs/BuzzFeed-logo.png" alt="Logo-BuzzFeed" />
    <h3>{{ title }}</h3>
  </div>

  <div class="container">
    <div *ngIf="!finished" class="quizz_questions">
      <h3>{{ questionSeleted.question }}</h3>
    </div>

    <div *ngIf="!finished" class="quiz_options">
      <button
        *ngFor="let option of questionSeleted.options; let i = index"
        (click)="playerChoose(option.alias)"
        class="btn-option"
      >
        {{ option.name }}
      </button>
    </div>

    <div *ngIf="finished" class="quizz_results">
      <h1>O seu resultado é:</h1>
      <p>{{ answersSelected }}</p>
    </div>
  </div>
</div>
